body {
    background-color: #a5f894;
    color: black;
    font-family: "Libre Baskerville", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
}

button {
    background-color: #84f56e;
    color: black;
    font-family: "Libre Baskerville", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}